@using Microsoft.FluentUI.AspNetCore.Components

@if (Q.Site is not null && !Q.IsPrerender)
{
    <FluentDesignSystemProvider @ref=_fluentDesignSystemProvider
                                AccentBaseColor="@styler.AccentBaseColor"
                                NeutralBaseColor="@styler.NeutralBaseColor"
                                FillColor="@styler.FillColor"
                                NoPaint=@styler.NoPaint
                                BaseHeightMultiplier="@styler.BaseHeightMultiplier"
                                BaseHorizontalSpacingMultiplier="@styler.BaseHorizontalSpacingMultiplier"
                                ControlCornerRadius="@styler.ControlCornerRadius"
                                LayerCornerRadius="@styler.LayerCornerRadius"
                                StrokeWidth="@styler.StrokeWidth"
                                FocusStrokeWidth="@styler.FocusStrokeWidth"
                                Density="@styler.Density"
                                DesignUnit="@styler.DesignUnit"
                                BaseLayerLuminance="@styler.BaseLayerLuminance"
                                style="flex: 1 0;display:flex;flex-direction:column;--bs-primary: var(--accent-base-color);">
        <CascadingAuthenticationState>
            <Router AppAssembly="@typeof(Program).Assembly" AdditionalAssemblies="AdditionalAssemblies">
                <Found Context="routeData">
                    <CascadingValue Name="RouteData" Value="trackRouteData = routeData">
                        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(AdminLayout)">
                            <Authorizing>
                                <text> Пожалуйста, подождите, мы авторизуем пользователя... </text>
                            </Authorizing>
                            <NotAuthorized>

                                <ContentWrapper>
                                    @if (Q.IsPrerender)
                                    {
                                        <SharedLoader1 />
                                    }
                                    else
                                    {
                                        <div class="alert alert-danger mt-1 alert-validation-msg" role="alert">
                                            <div class="alert-body text-black">
                                                <i class="bi bi-x-circle-fill"></i>
                                                У вас нет прав доступа к этой странице
                                            </div>
                                        </div>
                                    }
                                </ContentWrapper>

                            </NotAuthorized>
                        </AuthorizeRouteView>
                    </CascadingValue>
                </Found>
                <NotFound>

                    <LayoutView Layout="@typeof(AdminLayout)">
                        <AppAdmin.Shared.DevErrors.Error404 />
                    </LayoutView>

                </NotFound>
            </Router>
        </CascadingAuthenticationState>
    </FluentDesignSystemProvider>
}
else
{
    <ContentWrapper>
        <div class="h-100 xcenter">
            <SharedLoader1 />
        </div>
    </ContentWrapper>
}

<AppFront.Shared.AppFrontSharedContainer />
<Mars.SemanticKernel.Front.Components.MarsAITools.AIToolsContainer />

<FluentToastProvider Position="ToastPosition.TopCenter" />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
<FluentMenuProvider />
