@using System.Linq.Expressions
@using AppAdmin.Pages.PageViews
@using BlazoredHtmlRender
@using Microsoft.AspNetCore.Authorization
@using Microsoft.FluentUI.AspNetCore.Components
@using Mars.Shared.Contracts.Posts;
@using Mars.Shared.Contracts.PostTypes;

@inject IStringLocalizer<AppRes> L

<d-manage-post-view class="flex-fill d-flex flex-column">
    @if (PostType.Presentation.ListViewTemplate != null)
    {
        var source = PostType.Presentation.ListViewTemplate;
        <AppFront.Shared.Pages.RemotePageViewer Url=@($"/vm/ViewModel/PostTypePresentationRender/?sourceUri={source}") />
    }
    else
    {
        <div class="hstack gap-1">
            <FluentSearch @bind-Value=_searchText
                          @bind-Value:after=HandleSearchInput
                          Immediate
                          ImmediateDelay="300"
                          Appearance="FluentInputAppearance.Filled"
                          AriaLabel="Search" />
            <FluentButton aria-label="refresh" IconEnd="@(new Icons.Regular.Size16.ArrowClockwise())" OnClick="Refresh" />
            <div class="ms-auto">
                <a href="@urlEditPage/@PostType.TypeName">
                    <FluentButton Appearance="Appearance.Accent" IconStart="@(new Icons.Regular.Size16.Add())">@AppRes.Create</FluentButton>
                </a>
            </div>
        </div>

        <div class="mt-4 flex-fill d-flex flex-column">
            <div style="height: 534px; overflow:auto; flex: 1 1 auto;">
                <FluentDataGrid ItemsProvider="dataProvider"
                                @ref=table
                                ItemSize="76"
                                Virtualize
                                GridTemplateColumns="3fr 2fr 1fr 1fr"
                                GenerateHeader="GenerateHeaderOption.Sticky"
                                Class="adaptive-table"
                                TGridItem="PostListItemResponse">
                    <TemplateColumn SortBy="@(GridSort<PostListItemResponse>.ByDescending(f => f.Title))"
                                    Title="@AppRes.Title"
                                    Sortable="true">
                        <div class="position-relative d-block d-lg-none">
                            <div class="fs-6">@context.Title</div>
                            @* <div class="text-secondary small">@context.Slug</div> *@
                            <div class="hstack gap-4">
                                <div class="text-secondary small">@context.CreatedAt.ToString("d")</div>
                                @if (PostType.EnabledFeatures.Contains(PostTypeConstants.Features.Tags))
                                {
                                    <FluentOverflow Style="width: 100%;">
                                        @foreach (var tag in context.Tags)
                                        {
                                            <FluentOverflowItem><FluentBadge>@tag</FluentBadge></FluentOverflowItem>
                                        }
                                    </FluentOverflow>
                                }
                            </div>
                            <a href="@urlEditPage/@PostType.TypeName/@context.Id" class="stretched-link"></a>
                        </div>
                        <div class="position-relative d-none d-lg-block">
                            <div class="">
                                <div class="fs-6">
                                    <a href="@urlEditPage/@PostType.TypeName/@context.Id">
                                        @context.Title
                                    </a>
                                </div>
                                @* <div class="text-secondary small">@context.Slug</div> *@
                            </div>
                        </div>
                    </TemplateColumn>
                    @if (PostType.EnabledFeatures.Contains(PostTypeConstants.Features.Tags))
                    {
                        <TemplateColumn Title="@AppRes.Tags">
                            <FluentOverflow Style="width: 100%;">
                                @foreach (var tag in context.Tags)
                                {
                                    <FluentOverflowItem><FluentBadge>@tag</FluentBadge></FluentOverflowItem>
                                }
                            </FluentOverflow>
                        </TemplateColumn>
                    }
                    @if (PostType.EnabledFeatures.Contains(PostTypeConstants.Features.Status))
                    {
                        <TemplateColumn Title="@AppRes.Status"
                                        SortBy="@(GridSort<PostListItemResponse>.ByDescending(f => f.Status))"
                                        Sortable="true">
                            @context.Status?.Value
                        </TemplateColumn>
                    }
                    <TemplateColumn Title="@AppRes.Author"
                                    SortBy="@(GridSort<PostListItemResponse>.ByDescending(f => f.Author))"
                                    Sortable="true">
                        @context.Author.UserName
                    </TemplateColumn>
                    <PropertyColumn Property=@(f => f.CreatedAt)
                                    Title="@AppRes.CreatedAt"
                                    Format="d"
                                    InitialSortDirection="SortDirection.Descending"
                                    IsDefaultSortColumn="true"
                                    Sortable="true" Align="Align.End" />
                    <TemplateColumn Title="@AppRes.Actions" Align="@Align.End">
                        <div class="hstack">
                            <DFluentDeleteButton OnConfirm=@(e => Delete(context.Id))>
                                <FluentIcon Color="Color.Error" Value="@(new Icons.Regular.Size16.Delete())" />
                            </DFluentDeleteButton>
                            @* <FluentMenuButton Text="@AppRes.Action" ButtonAppearance="Appearance.Stealth">
                            <FluentMenuItem>action1</FluentMenuItem>
                            <FluentMenuItem>action2</FluentMenuItem>
                        </FluentMenuButton> *@
                        </div>
                    </TemplateColumn>
                </FluentDataGrid>
            </div>
            <br />
            <div class="hstack">
                <TotalResultsFound TotalCount="@data.TotalCount" />
                <div class="ms-auto">
                </div>
            </div>
        </div>
    }
</d-manage-post-view>
