@using System.Text.Json;
@using Icons = Microsoft.FluentUI.AspNetCore.Components.Icons;
@using Icons16R = Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size16;
@using Mars.Nodes.Core
@using Mars.Nodes.Core.Nodes
@using Mars.Nodes.FormEditor
@using Mars.Nodes.Workspace
@using Mars.Nodes.Workspace.ActionManager.Actions.Globals
@using Mars.Nodes.Workspace.ActionManager.Actions.NodesWorkspace
@using Mars.Nodes.Workspace.Components
@using Mars.Nodes.Workspace.EditorParts
@using Mars.Shared.Resources
@using Microsoft.FluentUI.AspNetCore.Components

<div class="NodeEditor1 red-ui-editor container-fluid p-0 flex-fill d-flex flex-column main-fill use-fluent-typo">
    <CascadingValue Value="this">
        <div class="border-bottom shadow-sm 1position-fixed" style="height:40px;">
            <div class="d-flex justify-content-between p-1 align-items-center">
                <div class="d-flex fs-5">

                    <div class="master-menu d-flex align-items-center">
                        <FluentButton Appearance="Appearance.Stealth" IconStart="@(new Icons.Regular.Size24.Settings())" OnClick="OnSettingsButtonClick" />
                        <div class="btn-group btn-group-sm ms-3" role="group">
                            @foreach (var _tab in masterTabs)
                            {
                                var tab = _tab;
                                <input type="radio" class="btn-check" name="btnradio" id=@($"mtab-{tab.key}")
                                       autocomplete="off" checked="@(tab.key == activeMasterTab)">
                                <label class="btn btn-light rounded-5" for=@($"mtab-{tab.key}")
                                       @onclick=@(e => activeMasterTab = tab.key)>@tab.label</label>
                            }

                        </div>
                    </div>
                    <div class="vr mx-3"></div>
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                        <FluentButton OnClick="@_actionManager.Undo" IconStart="@(new Icons16R.ArrowUndo())" Disabled=!_actionManager.CanUndo Appearance="Appearance.Stealth"></FluentButton>
                        <FluentButton OnClick="@_actionManager.Redo" IconStart="@(new Icons16R.ArrowRedo())" Disabled=!_actionManager.CanRedo Appearance="Appearance.Stealth"></FluentButton>
                    </div>
                </div>

                <div class="gap-2">
                    <span>[@SelectContextString]</span>
                </div>

                <div class="d-flex gap-2 me-2">
                    <FluentButton Appearance="Appearance.Stealth" OnClick="OnJobListHistoryButtonClick" Title="task history">
                        <FluentIcon Value="@(new Icons.Regular.Size24.History())" Color="Color.Neutral" />
                    </FluentButton>
                    <FluentButton OnClick="@(_actionManager.ExecuteAction<TerminateAllJobsAction>)"
                                  IconStart="@(new Icons16R.DismissSquareMultiple().WithColor(Color.Neutral))"
                                  Class="btn-terminate-all-tasks"
                                  Title="terminate all task"
                                  Appearance="Appearance.Stealth">
                        <FluentBadge title="running tasks count">
                            @runningTaskCountDisplayText
                        </FluentBadge>
                    </FluentButton>

                    @if (SectionActions is not null)
                    {
                        @SectionActions
                    }

                    <FluentButton OnClick="@(_actionManager.ExecuteAction<DeployNodesAction>)"
                                  IconEnd="@(new Icons16R.SaveMultiple())"
                                  Title="Deploy nodes"
                                  Appearance="Appearance.Accent">
                        Deploy
                    </FluentButton>
                </div>
            </div>
        </div>
        <main class="d-flex no-gutters g-0 flex-fill w-100" style="height:calc(100% - 40px)">
            <div class="flex-shrink-0 position-absolute shadow" style="top:50px;left:10px;z-index:1;user-select:none;">
                <div class="bg-white custom-scroll1" style="overflow-y:scroll;overflow-x:hidden;scroll-behavior: auto;width:190px;max-height:500px">
                    @if (activeMasterTab == "nodes")
                    {
                        <div class="p-2 border-1 d-flex">
                            <label>
                                global Varibles
                            </label>
                            <div class="ms-auto">
                                <span @onclick=OnClickAddVarNode class="badge text-black cursor-pointer" style="background:#eee">
                                    <i class="bi bi-plus"></i>
                                </span>
                            </div>
                        </div>
                        <div class="px-2 py-1 d-flex gap-1 flex-wrap">
                            @foreach (var _varNode in varNodes)
                            {
                                var varNode = _varNode;
                                <span class="badge dmodel-badge cursor-pointer"
                                      @ondblclick="e => StartEditNode(varNode)"
                                      title="@($"{varNode.Name}:{varNode.VarType}")"
                                      data-var-type="@varNode.VarType"
                                      data-array="@varNode.ArrayValue.ToString().ToLower()">
                                    @varNode.Name
                                </span>
                            }
                        </div>
                        <div class="mb-2"></div>
                        <div class="p-2 ">
                            <p class="card-text">Palette (@Palette.Count)</p>
                        </div>
                        <div class="">
                            @foreach (var group in Palette.GroupBy(s => s.GroupName))
                            {
                                <div class="px-4">
                                    <label class="text-strong">@group.Key</label>
                                </div>
                                @foreach (var _palette in group)
                                {
                                    Node node = _palette.Instance;
                                    <div class="list-group-item px-2 py-0 border-0" @key=_palette>
                                        <svg width="170" height="46" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                            @if (node is MicroschemeNode)
                                            {
                                                <MicroschemeComponent Node="@node"
                                                                      OnMouseDown=@(e => OnMouseDownPaletteNode(e, node))
                                                                      OnContextMenu="@(e=>OnPaletteNodeContextMenu(new(){ MouseEvent = e, Node = node }))" />
                                            }
                                            else
                                            {
                                                <NodeComponent Node="@node"
                                                               OnMouseDown=@(e => OnMouseDownPaletteNode(e, node))
                                                               OnContextMenu="@(e=>OnPaletteNodeContextMenu(new(){ MouseEvent = e, Node = node }))"
                                                               ShowLabelInsteadDisplayName="true"
                                                               FixedWidth="120" />
                                            }
                                        </svg>
                                    </div>
                                }
                            }

                        </div>
                    }
                    else if (activeMasterTab == "tabs")
                    {
                        <ul class="list-group fz12px">
                            @foreach (FlowNode _flow in flows)
                            {
                                var flow = _flow;
                                bool isactive = _activeFlow == flow;
                                @*<li class="p-2 list-group-item active" aria-current="true">An active item</li>*@
                                <li class=@($"p-2 list-group-item rounded-0 {(isactive ? "active" : "")}")
                                    @key=_flow.Id
                                    @onclick=@(e => ChangeFlow(flow))
                                    @ondblclick="@(e => StartEditNode(flow))">@flow.DisplayName</li>
                            }
                            <li class="px-2 py-0 list-group-item text-center fw-bold rounded-0" @onclick=ClickAddFlow>
                                <i class="bi bi-plus fz22px"></i>
                            </li>
                        </ul>
                    }
                    else if (activeMasterTab == "configs")
                    {
                        var configNodes = AllNodes.Values.Where(node => node is ConfigNode);

                        <div class="card-body p-2 ">
                            <p class="card-text">Configs (@configNodes.Count())</p>
                        </div>
                        <ul class="list-group">
                            @foreach (var node in configNodes)
                            {
                                Node _node = node;
                                <li class="list-group-item px-2 py-0 border-0">
                                    <svg width="170" height="46" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                        <NodeComponent Node="@_node" OnDblClick=@(e => StartEditNode(_node)) FixedWidth="120" />
                                    </svg>
                                </li>
                            }

                        </ul>
                    }
                    <FluentMenu UseMenuService="!true"
                                @ref="_paletteNodeContextMenu"
                                @bind-Open="_showPaletteNodeContextMenu"
                                Style="position:absolute !important;"
                                VerticalThreshold="170">
                        <FluentMenuItem Label="Examples" Disabled="!_currentPaletteNodeExamples.Any()">
                            <MenuItems>
                                @foreach (var _example in _currentPaletteNodeExamples)
                                {
                                    var example = _example;
                                    <FluentMenuItem Label="@example.Name" OnClick="@(() => UseExample(example))" />
                                }
                            </MenuItems>
                        </FluentMenuItem>
                    </FluentMenu>
                </div>
            </div>
            <div class="w-100">
                <div class="h-100" style="position:relative">
                    <NodeWorkspace1 @ref=_nodeWorkspace1
                                    Style=""
                                    Class="h-100"
                                    OnInject="OnInject"
                                    FlowNodes=FlowNodes
                                    OnMouseEnter="OnWorkspaceMouseEnter"
                                    OnClickNode="OnClickNode"
                                    OnDblClickNode="OnDblClickNode"
                                    OnNodeContextMenu="OnNodeContextMenu"
                                    OnWireContextMenu="OnWireContextMenu"
                                    OnWorkspaceClick="OnWorkspaceClick"
                                    OnWorkspaceDblClick="OnWorkspaceDblClick">
                        <QuickNodeAddMenu Palette="Palette"
                                          @ref=quickNodeAddMenu
                                          OnSelectNode="@(e=>CreateNewNodeFromPalette(e.MouseEventArgs, e.Node))" />
                        <FluentMenu UseMenuService="!true"
                                    @ref="_workspaceContextMenu"
                                    @bind-Open="_showWorkspaceContextMenu"
                                    Style="position:absolute !important;"
                                    VerticalThreshold="170">
                            @if (_selectContext == typeof(Node))
                            {
                                foreach (var item in NodeContextMenuItems)
                                {
                                    <FluentMenuItem OnClick="@((e) => OnNodeContextMenuItemClick(e, item.Key))">@item.Value</FluentMenuItem>
                                }
                            }
                            else if (_selectContext == typeof(Wire))
                            {
                                foreach (var item in WireContextMenuItems)
                                {
                                    <FluentMenuItem OnClick="@((e) => OnWireContextMenuItemClick(e, item.Key))">@item.Value</FluentMenuItem>
                                }
                            }
                        </FluentMenu>
                    </NodeWorkspace1>
                </div>
            </div>
            <div class="flex-shrink-0 bg-white d-flex flex-column" style="width:250px;height:100%">
                <DebugMessagesConsole Messages="messages" />
            </div>
            <NodeEditContainer1 @ref=nodeEditContainer1
                                OnSave="OnEditFormSaveNodeClick"
                                OnDelete="DeleteNode"
                                OnClickEditConfigNode=OnClickEditConfigNode
                                OnClickNewConfigNode=OnClickNewConfigNode />
        </main>
    </CascadingValue>
</div>

<style>

    .debug-text {
        font-size: 14px;
    }

    .debug-msg-id {
        font-size: 10px;
        color: #AC4D4D;
    }

    .debug-msg-footer {
        font-size: 10px;
    }

    .debug-json-pre {
        display: block;
        padding: 5px;
        word-break: break-all;
        word-wrap: break-word;
        white-space: pre-wrap;
        background-color: #f7f7f7;
        border: 1px solid #ccc;
        border-radius: 2px;
        /*pre*/
        font-family: Menlo,Consolas,"DejaVu Sans Mono",Courier,monospace;
        font-size: 13px;
        line-height: 1.2em;
        color: #b72828;
    }

    .bicon {
        width: 1em;
        height: 1em;
        display: inline-block;
    }

    .btn-terminate-all-tasks:hover {
        --neutral-foreground-rest: red;
    }
</style>
