@using Mars.Core.Extensions
<g id="node-@node.Id" class="red-ui-flow-node red-ui-flow-node-group @(node.selected ? "red-ui-flow-node--selected" : "") @(node.Disabled ? "red-ui-flow-node--disabled" : "")"
   transform="translate(@X.ToString(CultureInfo.InvariantCulture),@Y.ToString(CultureInfo.InvariantCulture))"
   data-node-type-id="@node.TypeId"
   @onclick:stopPropagation=true
   @ondblclick:stopPropagation=true
   @oncontextmenu="OnContextMenuEvent"
   @oncontextmenu:preventDefault="true">
    @*transform="translate(@X.ToString(CultureInfo.InvariantCulture),@Y.ToString(CultureInfo.InvariantCulture))">*@
    <!-- body -->
    <g>
        <rect class="red-ui-flow-node__body--select-backdrop"
              y="-4"
              x="-4"
              width="@(bodyRectWidth + 8f)"
              rx="2px"
              ry="2px"
              fill="#64b1d9"
              fill-opacity="0.5"
              height="@(bodyRectHeight + 8)"></rect>

        @* <rect class="red-ui-flow-node__body-backdrop"
              y="4"
              x="1"
              fill="@node.Color"
              width="@(bodyRectWidth - 1f)"
              height="@bodyRectHeight"></rect> *@

        <rect class="red-ui-flow-node__body"
              @onmousedown=OnMouseDownMethod
              @onmousedown:stopPropagation=true
              @onmouseup=OnMouseUpMethod
              @onmouseup:stopPropagation=true
              @onclick=OnClickEvent
              @onclick:stopPropagation=true
              @ondblclick=OnDblClickEvent
              @ondblclick:stopPropagation=true
              fill="@node.Color"
              style="filter:url(#fePointLight1)"
              width="@bodyRectWidth"
              height="@bodyRectHeight"></rect>

    </g>

    <!-- left icon -->
    <g class="red-ui-flow-node-icon-group"
       x="0"
       y="0"
       transform=""
       style="pointer-events: none">
        <rect x="0"
              y="0"
              class="red-ui-flow-node-icon-shade"
              width="30"
              height="@bodyRectHeight"></rect>
        <image href="@IconUrl"
               class="red-ui-flow-node-icon"
               x="5"
               width="26"
               height="26"
               style=""
               y="@((((bodyRectHeight - 30) / 2) + 2).ToString(CultureInfo.InvariantCulture))">
        </image>

        <path d="M 30 1 l 0 @(bodyRectHeight - 2)"
              class="red-ui-flow-node-icon-shade-border"></path>
    </g>
    <g class="red-ui-flow-node-label 1node_label_italic"
       transform="translate(38,6)">
        <foreignObject width="@(bodyRectWidth - 45)" height="@(bodyRectHeight - 10)">
            <p class="red-ui-flow-node-label-text" xmlns="http://www.w3.org/1999/xhtml">@node.Text.TextEllipsis(MaxTextLength)</p>
        </foreignObject>
    </g>
    @if (node.changed)
    {
        <g class="red-ui-flow-node-changed 1hide"
           transform="translate(@(bodyRectWidth - 10f), -2)">
            <circle r="5"></circle>
        </g>
    }
</g>
