@using Microsoft.FluentUI.AspNetCore.Components

<h4>Entry Form</h4>

<EditForm Model="@starship" OnValidSubmit="@HandleValidSubmit" FormName="starship_fluent_entry" novalidate>
    <DataAnnotationsValidator />
    <FluentValidationSummary />

    <AntiforgeryToken />

    <FluentStack Orientation="Orientation.Vertical">
        <div>
            <FluentTextField Name="identifier" @bind-Value="starship.Identifier" Label="Identifier" Required />
            <FluentValidationMessage For="@(() => starship.Identifier)" />
        </div>
        <div>
            <FluentTextArea Name="description" Rows=5 Cols=60 @bind-Value="starship.Description" Label="Description (optional)" />
        </div>
        <div>
            <FluentAutocomplete TOption="SampleCountry"
                                AutoComplete="off"
                                Label="Select a country"
                                Width="250px"
                                Placeholder="Select countries"
                                OnOptionsSearch="@OnSearchAsync"
                                MaximumSelectedOptions="3"
                                OptionText="@(item => item.Name)"
                                @bind-SelectedOptions="@SelectedItems" />
        </div>
        <div>
            <FluentSelect name="class" Id="classification" @bind-Value="starship.Classification" TOption="string" Required Label="Primary Classification">
                <FluentOption Value="">Select classification ...</FluentOption>
                <FluentOption Value="Exploration">Exploration</FluentOption>
                <FluentOption Value="Diplomacy">Diplomacy</FluentOption>
                <FluentOption Value="Defense">Defense</FluentOption>
            </FluentSelect>
            <FluentValidationMessage For="@(() => starship.Classification)" />
        </div>
        <div>
            <FluentNumberField Name="accomodation" @bind-Value="starship.MaximumAccommodation" Label="Maximum Accommodation" Required />
            <FluentValidationMessage For="@(() => starship.MaximumAccommodation)" />
        </div>
        <div>
            <FluentCheckbox Name="approved" @bind-Value="starship.IsValidatedDesign" Required Label="Engineering approval" />
            <FluentValidationMessage For="@(() => starship.IsValidatedDesign)" />
        </div>
        <div>
            <FluentDatePicker Name="production_date" Id="proddate" @bind-Value="starship.ProductionDate" Label="Production Date" Required />
            <FluentValidationMessage For="@(() => starship.ProductionDate)" />
        </div>
        <div>
            <FluentSwitch Name="teleporter" @bind-value="starship.HasTeleporter" Label="Teleporter" CheckedMessage="Fully operational" UncheckedMessage="Under maintenance"/>
            <FluentValidationMessage For="@(() => starship.HasTeleporter)" />
        </div>
        <FluentButton Type="Microsoft.FluentUI.AspNetCore.Components.ButtonType.Submit" Appearance="Appearance.Accent">Submit</FluentButton>
    </FluentStack>
</EditForm>

@code {


    protected override void OnInitialized()
    {
        starship.ProductionDate = DateTime.Now;
    }

    IEnumerable<SampleCountry> SelectedItems = Array.Empty<SampleCountry>();

    private void OnSearchAsync(OptionsSearchEventArgs<SampleCountry> e)
    {
        var allCountries = SampleCountry.Counties();
        e.Items = allCountries.Where(i => i.Name.StartsWith(e.Text, StringComparison.OrdinalIgnoreCase))
                              .OrderBy(i => i.Name);
    }

    [SupplyParameterFromForm]
    private Starship starship { get; set; } = new();

    private void HandleValidSubmit()
    {
        Console.WriteLine("HandleValidSubmit called");

        // Process the valid form
    }
}
