@page "/EditPostType/Presentation/{ID:guid}"

@using Mars.Shared.Contracts.PostTypes
@using Blazored.TextEditor
@using Mars.Shared.Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.FluentUI.AspNetCore.Components

@attribute [Authorize(Roles = "Admin")]
@inject IStringLocalizer<AppRes> L

<ContentWrapper>
    <NavbarEditPostType ID="ID" />
    <StandartEditContainer ID=@ID
                           TitleText="PostTypePresentation"
                           TModel=PostTypePresentationEditModel
                           GetAction="@(()=>PostTypePresentationEditModel.GetAction(_client,ID))"
                           SaveAction="@((s,create)=>PostTypePresentationEditModel.SaveAction(_client,s))"
                           AfterSave="AfterSave"
                           @ref=f CanCreate=false>
        <ChildContent>
            <FluentStack Orientation="Orientation.Vertical" Class="vstack gap-3">
            </FluentStack>

            <div class="vstack gap-3">

                <div class="vstack">
                    <FluentTextField Value=@context.PostType.Title Label="@AppRes.Title"
                                     Appearance="@FluentInputAppearance.Filled"
                                     ReadOnly
                                     Style="zoom:1.4" />
                </div>
                <div class="">
                    <FluentTextField Value=@context.PostType.TypeName Label="TypeName" ReadOnly />
                </div>

            </div>

            <div class="spacer-2"></div>

            <div class="vstack gap-4">

                <div class="card">
                    <div class="card-header">
                        Presentation
                    </div>
                    <div class="card-body">

                        <FormItem2 For="() => context.ListViewTemplate">
                            <div class="hstack">
                                <FluentTextField @bind-Value=@context.ListViewTemplate Placeholder="/templatePostType/slug" Class="w-50" />
                                <FluentMenuButton Text="..." OnMenuChanged="HandleOnMenuListViewTemplateChanged" ButtonAppearance="Appearance.Neutral" >
                                    <FluentMenuItem Id="open_presentation_template" Disabled="@context.ListViewTemplate.IsNullOrEmpty()">open</FluentMenuItem>
                                    <FluentMenuItem Id="create_presentation_template">create example</FluentMenuItem>
                                </FluentMenuButton>
                            </div>
                        </FormItem2>
                    </div>
                </div>

            </div>
            <div class="d-block" style="height:50vh"></div>

        </ChildContent>
    </StandartEditContainer>

</ContentWrapper>
