@page "/PostCategory"
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Authorization
@using PostCategory=AppShared.Models.PostCategory

@attribute [Authorize(Roles = "Admin")]
@inject IStringLocalizer<AppRes> L

<ContentWrapper Title="PostCategory">

    <h3>@(L["PostCategory.many"])</h3>

    <div class="text-end">
        <a href="@urlEditPage">
            <Button Icon="plus">Создать</Button>
        </a>
    </div>

    <StandartManagementTable TModel=PostCategory TService=PostCategoryService @ref=f CanCreate=false>
        <TableContent>
            <Column @bind-Field=@context.Title Sortable >
                @*<a @onclick=@(e=>f.EditClick(context)) class="text-primary">
                    @context.Title
                </a>*@
                <a href="@urlEditPage/@context.Id" class="text-primary">
                    @context.Title
                </a>
                <div class="text-secondary">
                    Элементов: @context.CategoryItems.Count
                </div>
            </Column>
            <Column @bind-Field=@context.Created Format="yyyy-MM-dd" Sortable Title="Создан" />
            <Column @bind-Field=@context.Modified Format="yyyy-MM-dd" Sortable Title="Изменен" />
        </TableContent>

        <FormContent>

            <FormItem>
                <AntDesign.Input @bind-Value="@context.Title" />
            </FormItem>

        </FormContent>
    </StandartManagementTable>


</ContentWrapper>

@code {
    StandartManagementTable<PostCategory, PostCategoryService> f = default!;

    string urlEditPage = "/dev/EditPostCategory";

    //Expression<Func<PostCategory, bool>> search =>
    //model => model.Title.ToLower().Contains(f.SearchText.ToLower());
    //|| model.ShortName.ToLower().Contains(f.SearchText.ToLower());
}
