@page "/Comments"
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Authorization
@using Comment=AppShared.Models.Comment
@inject IStringLocalizer<AppRes> L
@attribute [Authorize(Roles = "Admin")]


<ContentWrapper Title="@(L["Comment.many"])">

    @* <h3>@(L["PostType.many"])</h3> *@

    @*  <div class="text-end">
    <a href="@urlEditPage">
    <Button Icon="plus">Создать</Button>
    </a>
    </div> *@

    <StandartManagementTable TModel=Comment TService=CommentService
                             PageSize="30"
                             SearchExpression=search @ref=f CanCreate=false>
        <TableContent>
            <Column @bind-Field=@context.UserId Sortable Title="Пользователь">
                 <a href=@($"{urlEditUser}/{context.UserId}") class="text-primary" target="_blank">
                     @context.User?.FullName
                 </a>
                 <div class="text-secondary">
                     @context.User?.Email
                 </div>
             </Column>
             <Column @bind-Field=@context.MessageHtml Sortable Width="60%">
                 <a @onclick=@(e=>f.EditClick(context)) class="text-primary stretched-link">
                     @if (context.ParentCommentId is not null)
                    {
                        <small>ответ: @context.ParentCommentId</small>
                        <br />
                    }
                    <div class="text-black">
                        @context.MessageHtml.TextEllipsis(40)
                    </div>
                </a>
            </Column>
            <Column @bind-Field=@context.Created Format="yyyy-MM-dd" Sortable Title="Создан" />
         </TableContent>

         <FormContent>

             <div class="border p-2 mb-3">
                 <div>
                     <small>@context.UserId</small>
                 </div>
                 <div>
                     <a href=@($"{urlEditUser}/{context.UserId}") class="text-primary" target="_blank">
                        <b>@context.User?.FullName</b>
                     </a>
                 </div>
                 <div>
                     @context.User?.Email
                 </div>
             </div>

             <FormItem>
                 <AntDesign.TextArea @bind-Value="@context.MessageHtml" MinRows="5" />
             </FormItem>

             @* <FormItem>
            <AntDesign.Input @bind-Value="@context.TypeName" />
            </FormItem>

            <FormItem>
            <AntDesign.Input @bind-Value="@context.CategoryId" />
            </FormItem> *@


         </FormContent>
     </StandartManagementTable>


 </ContentWrapper>

 @code {
    StandartManagementTable<Comment, CommentService> f = default!;

    string urlEditPage = "/dev/EditPostType";

    Expression<Func<Comment, bool>> search =>
        model => model.MessageHtml.ToLower().Contains(f.SearchText.ToLower())
        || (model.User != null && model.User.FullName.ToLower().Contains(f.SearchText.ToLower()));

    string urlEditUser = "/dev/User";
}
