@using AppFront.Shared.Services
@using Mars.Core.Utils
@using Microsoft.FluentUI.AspNetCore.Components
@using MarsCodeEditor2
@using Color = Microsoft.FluentUI.AspNetCore.Components.Color

@attribute [OptionEditFormForOptionAttribute(typeof(OpenIDServerOption))]
@attribute [Display(Name = "OpenID Server")]
@attribute [AutoShowFormOnSettingsPage]

<EditOptionForm @ref=form TModel="OpenIDServerOption">

    <h3>Настройки OpenID Server</h3>

    <div class="vstack gap-3">
        @foreach (var _sso in context.OpenIDClientConfigs)
        {
            var sso = _sso;
            <FluentCard Class="d-flex flex-column gap-3">

                <FormItem2 For="() => sso.Enable" Class="col">
                    <FluentSwitch @bind-Value="@sso.Enable" />
                </FormItem2>

                <FluentDivider />

                <div class="row row-cols-3 g-2">
                    <FormItem2 For="() => sso.ClientId" Class="col">
                        <FluentTextField @bind-Value="@sso.ClientId" Class="w-100" />
                    </FormItem2>

                    <FormItem2 For="() => sso.ClientSecret" Class="col">
                        <FluentTextField @bind-Value="@sso.ClientSecret" Class="w-100">
                            <FluentButton Appearance="@Appearance.Stealth"
                                          OnClick=@(e=>{ sso.ClientSecret = Password.Generate(16,6); })
                                          slot="end">generate</FluentButton>
                        </FluentTextField>
                    </FormItem2>
                </div>

                <FormItem2 For="() => sso.CallbackUrl" Class="col">
                    <FluentTextField @bind-Value="@sso.CallbackUrl" Class="w-100" />
                </FormItem2>

                <FormItem2 For="() => sso.RedirectUris" Class="col">
                    <FluentTextField @bind-Value="@sso.RedirectUris" Class="w-100" />
                </FormItem2>

                <FluentCheckbox @bind-Value="sso.RequirePkce">
                    <AutoInputLabel For="() => sso.RequirePkce" />
                </FluentCheckbox>

                <FormItem2 For="() => sso.AllowedGrantTypes" Class="col">
                    <FluentTextField @bind-Value="@sso.AllowedGrantTypes" Class="w-100" />
                </FormItem2>

                <div class="">
                    <FluentButton Appearance="Appearance.Stealth" OnClick=@(e => DeleteSSOClick(sso))>Delete</FluentButton>
                </div>

            </FluentCard>
        }
    </div>

    <div class="py-3 d-flex justify-content-end">
        <FluentButton OnClick="AddSSOClick">Add</FluentButton>

    </div>

</EditOptionForm>

@code {
    EditOptionForm<OpenIDServerOption> form = default!;
    [Inject] IAppMediaService mediaService { get; set; } = default!;

    void AddSSOClick()
    {
        form.Model.OpenIDClientConfigs.Add(new());
    }

    void DeleteSSOClick(OpenIDServerClientConfig sso)
    {
        form.Model.OpenIDClientConfigs.Remove(sso);
    }

}
