@page "/Manage/AnketaManage"
@using System.Linq.Expressions
@using AppAdmin.Pages.Settings
@using Microsoft.AspNetCore.Authorization
@inject IStringLocalizer<AppRes> L
@*@inherits StandartEditForm1<GeoLocation,GeoLocationService>*@
@attribute [Authorize(Roles = "Admin")]
@attribute [Display(Name = "Анкеты")]
@attribute [DParentPage(typeof(SettingsPage))]

<ContentWrapper Title="Анкеты" Breadcrumb="">

    @* <AppAdmin.Pages.Settings.SettingsTabs /> *@
    @* <hr> *@

    @* <h3>@(L["AnketaQuestion.many"])</h3> *@

    @*<DSelectGuidServ @bind-Value=@selGeoTypeId
        LabelExpression=@(s=>s.Title)
        TService=GeoLocationTypeService TModel=GeoLocationType />*@

    <div class="text-start mb-2">
        <NavLink href="/dev/Manage/AnketaManage">
            <Button Type="@ButtonType.Text">Анкеты</Button>
        </NavLink>
        <NavLink href="/dev/Manage/AnketaAnswers">
            <Button Type="@ButtonType.Text">Ответы</Button>
        </NavLink>
    </div>


    <StandartManagementTable TModel=AnketaQuestion TService=AnketaQuestionService @ref=f SearchExpression=search>
        <TableContent>
            <Column @bind-Field=@context.Title Sortable>
                <a @onclick=@(e=>f!.EditClick(context)) class="text-primary">
                    @context.Title
                </a>
                <p>
                    @context.Content
                </p>
            </Column>
            <Column @bind-Field=@context.Group Sortable >
                @context.GroupAsText();
            </Column>
            <Column @bind-Field=@context.Created Format="yyyy-MM-dd" Sortable Title="Создан" />
        </TableContent>

        <FormContent>
            <FormItem>
                <AntDesign.Input @bind-Value="@context.Title" />
            </FormItem>
            <FormItem>
                <AntDesign.TextArea @bind-Value="@context.Content" MinRows="4" />
            </FormItem>
            <FormItem>
                <Select @bind-Value="@context.Group"
		                TItemValue="int"
		                TItem="string"
		                    
		                Style="width: 250px;"
		                EnableSearch>
		                <SelectOptions>
			                @foreach(var item in AnketaQuestion.GroupList)
			                {
				                <SelectOption TItemValue="int" TItem="string" Value=@item.Key Label=@item.Value />
			                }
		                </SelectOptions>
                </Select>
            </FormItem>
        </FormContent>
    </StandartManagementTable>
</ContentWrapper>

@code {
    StandartManagementTable<AnketaQuestion, AnketaQuestionService> f = default!;


    Expression<Func<AnketaQuestion, bool>> search =>
        model => model.Title.ToLower().Contains(f.SearchText.ToLower());
    //|| model.ShortName.ToLower().Contains(f.SearchText.ToLower());
}
