@page "/Manage/AnketaAnswers"
@using System.Linq.Expressions
@using AppAdmin.Pages.Settings
@using Microsoft.AspNetCore.Authorization
@inject IStringLocalizer<AppRes> L
@*@inherits StandartEditForm1<GeoLocation,GeoLocationService>*@
@attribute [Authorize(Roles = "Admin")]
@attribute [Display(Name = "Ответы")]
@attribute [DParentPage(typeof(SettingsPage))]

<ContentWrapper Title="Ответы" Breadcrumb="">

    <AppAdmin.Pages.Settings.SettingsTabs />
    <hr>

    <h3>@(L["AnketaAnswer.many"])</h3>

    @*<DSelectGuidServ @bind-Value=@selGeoTypeId
    LabelExpression=@(s=>s.Title)
    TService=GeoLocationTypeService TModel=GeoLocationType />*@

    <div class="text-start mb-2">
        <NavLink href="/dev/Manage/AnketaManage">
            <Button Type="@ButtonType.Text">Анкеты</Button>
        </NavLink>
        <NavLink href="/dev/Manage/AnketaAnswers">
            <Button Type="@ButtonType.Text">Ответы</Button>
        </NavLink>
    </div>


    <StandartManagementTable TModel=AnketaAnswer TService=AnketaAnswerService @ref=f CanCreate=false>
        <TableContent>
            <Column @bind-Field=@context.User Sortable Title="Пользователь">
                <a @onclick=@(e=>f.EditClick(context)) class="text-primary">
                    @context.User.FullName
                </a>
            </Column>
            @*<Column @bind-Field=@context.Status Sortable>
                <span class="@("py-1 px-2 " + (context.Status<=10?"bg-info":""))">
                    @context.StatusAsText()
                </span>
            </Column>*@
            <Column @bind-Field=@context.Created Format="yyyy-MM-dd" Sortable Title="Создан" />
        </TableContent>

        <FormContent>
            @*<FormItem>
            <AntDesign.Input @bind-Value="@context.Id" />
            </FormItem>*@
            @*<FormItem>
            <AntDesign.TextArea @bind-Value="@context." MinRows="4" />
            </FormItem>*@

            <h5>@context.User.FullName</h5>
            <div class="1text-secondary">@context.Created</div>
            <Divider />

            @foreach (var a in context.Answers)
            {
                @if (dict.ContainsKey(a.AnketaQuestionId))
                {
                    var q = dict[a.AnketaQuestionId];
                    <div class="mb-2">
                        <div class="">
                            <i>@q.Title</i>
                        </div>
                        <strong>@(a.AnswerText)</strong>
                    </div>
                }
            }

            @*==*@
            <div class="spacer-2"></div>
            <label class="d-block">
                Результат
            </label>
            @*<Select @bind-Value="@context.Status"
                    TItemValue="int"
                    TItem="string"
                    Style="width: 250px;"
                    EnableSearch>
                <SelectOptions>
                    @foreach (var item in AnketaAnswer.StatusList)
                    {
                        <SelectOption TItemValue="int" TItem="string" Value=@item.Key Label=@item.Value />
                    }
                </SelectOptions>
            </Select>*@
            @*==*@

        </FormContent>
    </StandartManagementTable>
</ContentWrapper>

@code {
    StandartManagementTable<AnketaAnswer, AnketaAnswerService> f = default!;


    //Expression<Func<AnketaAnswer, bool>> search =>
    //model => model.Title.ToLower().Contains(f.SearchText.ToLower());
    //|| model.ShortName.ToLower().Contains(f.SearchText.ToLower());

    [Inject] AnketaQuestionService service { get; set; } = default!;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Load();
    }

    List<AnketaQuestion> questions = new();

    Dictionary<Guid, AnketaQuestion> dict = new();

    async void Load()
    {
        var res = await service.ListTable(new QueryFilter());

        if (res.Ok)
        {
            questions = res.Records.ToList();
            dict = questions.ToDictionary(s => s.Id);
        }
    }
}


<style>
    .ant-btn.ant-btn-primary[type="submit"] {
        /*display:none;*/
    }
</style>
