@page "/builder/models/EditStoEntityType"
@page "/builder/models/EditStoEntityType/{ID:guid}"
@inject IStringLocalizer<AppRes> L

@implements IDisposable

@using AppFront.Shared.Components.MetaFieldViews
@using AppFront.Shared.Tools
@using MarsEditors
@using Blazored.TextEditor
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(Roles = "Admin")]


<ContentWrapper FullWidth Title="@(L["StoEntityType"])">

     <div class="card">
         <div class="card-body">


             <StandartEditContainer ID=@ID TModel=StoEntityType TService=StoEntityTypeService
                                    @ref=f CanCreate=false>
                 <ChildContent>
                     <FormItem>
                         <AntDesign.Input @bind-Value=@context.Title Size="@InputSize.Large" TValue="string" />
                     </FormItem>

                     <FormItem>
                         <AntDesign.Input @bind-Value=@context.TypeName Size="@InputSize.Small" />
                     </FormItem>

                     <FormItem>
                         <AntDesign.TextArea @bind-Value=@context.Description MinRows="2" />
                     </FormItem>

                     <CascadingValue Value="@context.MetaFields">
                         <AppFront.Shared.Components.MetaFieldViews.FormMetaField />
                     </CascadingValue>

                     <div class="">
                         <AntDesign.Button Icon="plus" OnClick="AddNewField">Добавить</AntDesign.Button>
                     </div>

                 </ChildContent>

                 <SectionSidePublish>
                     @if (!true)
                    {
                        <div>
                            @*==*@
                            <label class="d-block">
                                Тип записи
                            </label>
                            <Select @bind-Value="@context.ForModel"
                                    TItemValue="string"
                                    TItem="string"
                                    Style="min-width: 250px;"
                                    DefaultValue="@("post")"
                                                EnableSearch>
                             <SelectOptions>
                                 @foreach (var item in Q.Site.PostTypes)
                                    {
                                        <SelectOption TItemValue="string" TItem="string" Value=@item.TypeName Label=@item.Title />
                                    }
                                </SelectOptions>
                            </Select>
                            @*==*@
                        </div>
                    }

                    @if (true)
                    {
                        <div class="mt-3">
                            @*==*@
                            <label class="d-block">
                                Статус
                            </label>
                            @*<Select @bind-Value="@context.Status"
                        TItemValue="string"
                        TItem="string"
                        Style="min-width: 250px;"
                        DefaultActiveFirstOption
                        EnableSearch>
                        <SelectOptions>
                        @foreach (var item in postType.StoEntityTypeStatusList)
                        {
                        <SelectOption TItemValue="string" TItem="string" Value=@item.Slug Label=@item.Title />
                        }
                        </SelectOptions>
                        </Select>*@
                            @*==*@
                        </div>
                    }
                    @if (f?.IsAddNew ?? false)
                    {
                        <div class="mt-3">
                            @*StoEntityTypeType: @QueryStoEntityTypeType*@
                        </div>
                    }
                    <div class="mt-3">
                        @*@postType?.EnabledFeatures.JoinStr(",")*@
                    </div>
                </SectionSidePublish>

                <SectionExtraSidebar>

                    <section class="editpost-taxonomy mb-3">
                        <div class="card">
                            <div class="card-body">
                                @*@if (postType.EnabledFeatures.Contains(nameof(StoEntityType.CategoryId)))
                                {
                                <FormItem>
                                <PSelectVariants @bind-Value=context.CategoryId ModelName=@nameof(StoEntityType) />
                                </FormItem>
                                }*@

                                @if (true)
                                {

                                    <FormItem>
                                        <AntDesign.Select Mode="tags"
                                                          Placeholder="tags"
                                                          @bind-Values="@context.SetTags"
                                                          TItemValue="string"
                                                          TItem="string"
                                                          MaxTagCount="20"
                                                                                        HideSelected
                                                           EnableSearch=false
                                                           Size="small">
                                             <SelectOptions>
                                                 @foreach (var _item in context.Tags)
                                                {
                                                    <SelectOption TItemValue="string" TItem="string" Value=@_item Label=@_item />
                                                }
                                            </SelectOptions>
                                        </AntDesign.Select>
                                    </FormItem>
                                }

                            </div>
                        </div>
                    </section>

                    <div class="card">
                        <div class="card-body">
                            3
                        </div>
                    </div>
                </SectionExtraSidebar>
            </StandartEditContainer>

        </div>
    </div>

</ContentWrapper>

@code {

    [Parameter] public Guid ID { get; set; }
    StandartEditContainer<StoEntityType, StoEntityTypeService> f = default!;

    MarsCodeEditor? codeEditor1 = default!;


    string lang1 = MarsCodeEditor.Language.handlebars;

    public void Dispose()
    {
        codeEditor1?.Dispose();
    }

    void AddNewField()
    {
        int order = f.Model.MetaFields.Any() ? f.Model.MetaFields.Max(s => s.Order) + 1 : 0;
        Guid parentId = Guid.Empty;
        f.Model.MetaFields.Add(FormMetaField.NewField(order, parentId));
    }

}
