@page "/builder/models/StoEntityType"
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Authorization
@inject IStringLocalizer<AppRes> L
@attribute [Authorize(Roles = "Admin")]


<ContentWrapper Title="@(L["StoEntityType"])">

    @*<h3>@(L[postType.Title])</h3>*@

    <div class="d-flex">
        <div class="flex-fill d-flex gap-3">
            @*<div class="StoEntityTypeTypeTabs">
            <ul class="nav nav-pills shadow-none bg-transparent px-0">
            @foreach (var type in Q.Site.StoEntityTypeTypes.OrderBy(s => s.Created))
            {
            <li class="nav-item px-3">
            <NavLink class="nav-link" href=@($"/dev/StoEntityType/{type.TypeName}")>
            @type.Title
            </NavLink>
            </li>
            }
            </ul>
            </div>*@
        </div>
        <div class="text-end">
            <a href="@($"{urlEditPage}{query}")">
                <Button Icon="plus">Создать</Button>
            </a>
        </div>
    </div>


    <StandartManagementTable TModel=StoEntityType TService=StoEntityTypeService @ref=f
                             SearchExpression=search
                             ViewMode="TableViewMode.Cards"
                             PageSize="20"
                             TableClass="row row-cols-1 row-cols-md-3 g-3"
                             CanCreate=false>
        @* <TableContent>
            <Column @bind-Field=@context.Title Sortable>
                <a href="@urlEditPage/@context.Id" class="text-primary">
                    @context.Title
                </a>
                <div class="text-secondary">
                    @context.TypeName
                </div>
            </Column>
            <Column @bind-Field=@context.Description Sortable></Column>
            <Column @bind-Field=@context.Created Format="yyyy-MM-dd" Sortable Title="Создан" />
        </TableContent> *@

        <TableContent>
            <div class="col">
                <div class="card h-100 list-group-item-action">
                    <div class="card-body">
                        <h5 class="card-title">@context.Title</h5>
                        <div class="text-secondary small">@context.TypeName</div>
                        <div class="_features fz14px">
                            @* <i>@context.EnabledFeatures.JoinStr(" ")</i> *@
                            @context.Description.TextEllipsis(30)
                        </div>
                        <div class="_tags">
                            @foreach (var tag in context.Tags)
                            {
                                <span class="badge bg-light text-dark">@tag</span>
                            }
                        </div>
                    </div>
                    <a href="@urlEditPage/@context.Id" class="stretched-link"></a>
                </div>
            </div>
        </TableContent>

        <FormContent>

            <FormItem>
                <AntDesign.Input @bind-Value="@context.Title" />
            </FormItem>

        </FormContent>
    </StandartManagementTable>


</ContentWrapper>

@code {
    StandartManagementTable<StoEntityType, StoEntityTypeService> f = default!;

    Expression<Func<StoEntityType, bool>> search =>
        model => (model.Title.ToLower().Contains(f.SearchText.ToLower())
        || model.Description.ToLower().Contains(f.SearchText.ToLower()));

    string urlEditPage => "/dev/builder/models/EditStoEntityType";
    string query => $"?va=1";

}


