@using Mars.Shared.Contracts.Roles
@using Microsoft.FluentUI.AspNetCore.Components
@inject IMarsWebApiClient client

<FluentDialog Hidden="@(!Visible)" aria-label="Change Password dialog"
              Modal=true
              @ref=Dialog
              OnDialogResult="OnDialogResult"
              Class="ChangePasswordModal"
              @ondialogdismiss=@(()=>Visible=false)
              PreventScroll=true>
    <FluentDialogHeader ShowDismiss="false" ShowDismissTooltip="false">
        <div class="hstack">
            <FluentLabel Typo="Typography.Header">@AppRes.ChangePassword</FluentLabel>
        </div>
    </FluentDialogHeader>
    <StandartEditForm1 TModel="ChangePasswordModel"
                       @ref=_editForm1
                       GetAction="@(()=>Task.FromResult(model))"
                       AfterSave="AfterSave"
                       SaveAction="@((model, isCreate)=>ChangePasswordModel.SaveAction(client, model))">

        <FormItem2 For="()=>model.NewPassword">
            <div class="hstack gap-2">
                <FluentTextField @bind-Value="model.NewPassword" Immediate TextFieldType="@passwordFieldType" AutoComplete="new-password" />
                <FluentButton OnClick="TogglePassword" IconStart="@passwordShowButtonIcon" Title="show password" />
                <FluentButton OnClick="GeneratePassword" IconStart="@(new Icons.Regular.Size16.Password())" Title="generate password" />
            </div>
        </FormItem2>

    </StandartEditForm1>
</FluentDialog>
