@inherits FluentComponentBase

<PageTitle>404</PageTitle>

<div id="@Id" class="@Class" style="@Style">
    <h1 style="font-size: 100px">404</h1>
    <FluentLabel Typo="@Typography.PageTitle">@Title</FluentLabel>
    <FluentLabel Typo="@Typography.Subject">@Message</FluentLabel>
</div>

@code {
    public string Title { get; set; } = "Страница не найдена";
    public string Message { get; set; } = "Запрашиваемая страница не найдена. Возможно, она была удалена или перемещена.";
}
