@page ""
@namespace Mars.Pages
@using AppFront.Shared
@using Mars.Controllers
@using Mars.Core.Features
@using Mars.Host.Handlers
@using Mars.Host.Shared.Constants.Website
@using Mars.Host.Shared.Interfaces
@using Mars.Host.Shared.Models
@using Mars.Host.Shared.Services
@using Mars.Host.Shared.WebSite.Scripts
@using Mars.Host.WebSite.Scripts
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
@inject IOptionService optionService
@inject IServiceProvider serviceProvider;
@inject IRequestContext requestContext;
@inject InitialSiteDataViewModelHandler _initialSiteDataHandler;

@{
    //TODO: Uncomment
    // AppAdmin.Program.IsPrerender = false;
    Q.IsPrerender = false;
    MarsAppFront af = new MarsAppFront
    {
        Configuration = new Mars.Core.Models.AppFrontSettingsCfg
        {
            Mode = Mars.Core.Models.AppFrontMode.ServeStaticBlazor,
            Url = "/dev",
            Path = "dev"
        }
    };
    HttpContext.Items.Add(nameof(MarsAppFront), af);

    var scriptsBuilder = serviceProvider.GetRequiredKeyedService<ISiteScriptsBuilder>(AppAdminConstants.SiteScriptsBuilderKey);

    var vm = await _initialSiteDataHandler.Handle(Request, devAdminPageData: true, CancellationToken.None);

    Q.UpdateInitialSiteData(vm);

    var json = System.Text.Json.JsonSerializer.Serialize(vm);

    string bodyClass = "";
    bool loggedIn = User.Identity.IsAuthenticated;
    bodyClass += "logged-in ";

    try
    {

        if (User.Identity.IsAuthenticated && requestContext.Roles is not null)
        {
            var isAdmin = requestContext.Roles.Contains("Admin");

            bodyClass += $"{(isAdmin ? "admin" : "")} ";
        }
    }
    catch (Exception)
    {

        throw;
    }

    bool isDarkTheme = false;
    if (Request.Cookies.ContainsKey("dark"))
    {
        isDarkTheme = bool.Parse(Request.Cookies["dark"] ?? "false");
    }

}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@optionService.SysOption.SiteName</title>
    <base href="/dev/" />

    @{
        // all scripts moved to:
        _ = nameof(AppAdminSpaHtmlScripts);
    }
    @Html.Raw(scriptsBuilder.HeadScriptsRender())

</head>
<body class="@($"{bodyClass} {(isDarkTheme ? "dark" : "")}")" prerender>

    <script>
        //window._dev = true;
        function InitialSiteDataViewModel() {
            let vm = "@Html.Raw(TextZip.ZipToBase64(json))";
            return vm;
        }
    </script>
    <app id="app">
        @* <component type="typeof(AppAdmin.App)" render-mode="Static" /> *@
        <div class="flex-fill xcenter">
            <component type="typeof(AppFront.Shared.Components.SharedLoader1)" render-mode="Static" />
        </div>

    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            Произошла ошибка. Это приложение может больше не отвечать до перезагрузки.
        </environment>
        <environment include="Development">
            Произошло необработанное исключение. Дополнительные сведения см. в инструментах разработки браузера.
        </environment>
        <a href="" class="reload">Перезагрузить</a>
        <a class="dismiss">🗙</a>
    </div>

    @Html.Raw(scriptsBuilder.FooterScriptsRender())

</body>
</html>
