@page "/"
@namespace Mars.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
@using AppFront.Shared
@using AppFront.Shared.Interfaces
@using Mars.Core.Features
@using Mars.Core.Models
@using Mars.Host.Handlers
@using Mars.Host.Shared.Dto.Users
@using Mars.Host.Shared.Interfaces
@using Mars.Host.Shared.Models
@using Mars.Host.Shared.Services
@using Mars.Host.Shared.WebSite.Models
@using Mars.WebSiteProcessor.Blazor
@using Mars.WebSiteProcessor.Interfaces
@using Mars.WebSiteProcessor.Services
@using Mars.WebSiteProcessor.WebSite
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.Extensions.Configuration
@using Microsoft.Extensions.DependencyInjection;

@inject IRequestContext requestContext
@inject IOptionService optionService;
@inject IServiceProvider serviceProvider;
@inject IUserService userService;
@inject InitialSiteDataViewModelHandler _initialSiteDataHandler;
@inject IMarsHostBlazorPrerenderHttpAccessor _blazorPrerenderHttpAccessor;

@{
    Q.IsPrerenderProcess = true;
    var appFront = (MarsAppFront)HttpContext.Items[nameof(MarsAppFront)]!;

    if (appFront.Configuration.Mode is not AppFrontMode.ServeStaticBlazor and not AppFrontMode.BlazorPrerender)
        throw new NotSupportedException("Only Blazor modes are supported in this host.");

    string json = "";
    if (!Q.IsPrerenderProcess)
    {
        var vm = await _initialSiteDataHandler.Handle(Request, devAdminPageData: false, CancellationToken.None);
        Q.UpdateInitialSiteData(vm);
        json = System.Text.Json.JsonSerializer.Serialize(vm);
    }

    // PrepareHostHtml html = await PrepareHostHtml.GetHostTemplate(HttpContext, serviceProvider, typeof(Mars.Host.MainMarsHost).Assembly, requestContext, default);
}

@* <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" /> *@

@if (false)
{
    var renderEngine = appFront.Features.Get<IWebRenderEngine>() as BlazorWebRenderEngine;
    var html = await renderEngine.RenderBlazorPageWithHbsRoot(appFront, "", HttpContext, serviceProvider, default);
    @Html.Raw(html)

    @if (_blazorPrerenderHttpAccessor.StatusCode is not null)
    {
        // Этот код должен быть здесь. Присваивание статуса после отрисовки страницы.
        HttpContext.Response.StatusCode = _blazorPrerenderHttpAccessor.StatusCode.Value;
    }
}
@* else if (true)
{
    <app id="app">
        @if (appFront.Configuration.Mode is AppFrontMode.BlazorPrerender)
        {
            var appFrontBlazorAsm = appFront.Features.Get<AppFrontBlazorAsm>();
            var appHtml = await Html.RenderComponentAsync(appFrontBlazorAsm.AppType, RenderMode.Static, null);

            using var writer = new StringWriter();
            appHtml.WriteTo(writer, System.Text.Encodings.Web.HtmlEncoder.Default);

            var renderEngine = appFront.Features.Get<IWebRenderEngine>() as BlazorWebRenderEngine;
            var html = await renderEngine.RenderBlazorPageWithHbsRoot(appFront, writer.ToString(), HttpContext, serviceProvider, default);

            @Html.Raw(html)

            @if (_blazorPrerenderHttpAccessor.StatusCode is not null)
            {
                // Этот код должен быть здесь. Присваивание статуса после отрисовки страницы.
                HttpContext.Response.StatusCode = _blazorPrerenderHttpAccessor.StatusCode.Value;
            }
        }
    </app>
} *@
else
{
    var renderEngine = (BlazorWebRenderEngine)appFront.Features.Get<IWebRenderEngine>()!;
    var html = await renderEngine.RenderBlazorPageWithHbsRoot(appFront, "@Body", HttpContext, serviceProvider, default);

    var splitter = new RootPageBodyTagSplitter(html);

    var BeforeBodyHtml = splitter.PreBody;
    var AfterBodyHtml = splitter.AfterBody;

    @Html.Raw(BeforeBodyHtml)

    if (!Q.IsPrerenderProcess)
    {
        <script>
            function InitialSiteDataViewModel() {
                @*let vm = @Html.Raw(System.Web.HttpUtility.HtmlDecode(json));*@
                let vm = "@Html.Raw(TextZip.ZipToBase64(json))";
                return vm;
            }
        </script>
    }

    <app id="app">
        @if (appFront.Configuration.Mode is AppFrontMode.BlazorPrerender)
        {
            var appFrontBlazorAsm = appFront.Features.Get<AppFrontBlazorAsm>()!;

            <component type="appFrontBlazorAsm.AppType" param-IsPrerenderProcess="true" render-mode="Static" />

            @if (_blazorPrerenderHttpAccessor.StatusCode is not null)
            {
                // Этот код должен быть здесь. Присваивание статуса после отрисовки страницы.
                HttpContext.Response.StatusCode = _blazorPrerenderHttpAccessor.StatusCode.Value;
            }
        }
        else
        {
            <div class="alert alert-dange">AppFrontBlazorAsm.AppType is null</div>
        }
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            Произошла ошибка. Это приложение может больше не отвечать до перезагрузки.
        </environment>
        <environment include="Development">
            Произошло необработанное исключение. Дополнительные сведения см. в инструментах разработки браузера.
        </environment>
        <a href="" class="reload">Перезагрузить</a>
        <a class="dismiss">🗙</a>
    </div>

    @Html.Raw(AfterBodyHtml)
}
