@using Mars.Shared.Contracts.PostCategories
@using Microsoft.FluentUI.AspNetCore.Components
@using System.Threading.Tasks

@* Если не присваивать Items и OptionSelected он начинает тупить при изменения Value вне компонента *@
<FluentAutocomplete TOption="PostCategoryListItemResponse"
                    Id="@Id"
                    Class="@Class"
                    Style="@Style"
                    Placeholder="@Placeholder"
                    Disabled="Disabled"
                    Width=@Width
                    Multiple="false"
                    SelectedOption="_selectedItem"
                    OptionSelected="@(v=>v.Id == Value)"
                    Items="_lastRequestItems"
                    SelectedOptionChanged="SelectedOptionChanged"
                    OptionValue="@(v=>v?.Id.ToString())"
                    OnOptionsSearch="OnOptionsSearch"
                    OptionText="@(x => x.Title)"
                    IconSearch="null">
    <OptionTemplate>
        <div style=@GetOptionCssStyle(context)>
            @context.Title
        </div>
    </OptionTemplate>
</FluentAutocomplete>

@code {
    [Inject] IMarsWebApiClient client { get; set; } = default!;

    [Parameter]
    public Guid Value { get; set; }

    [Parameter, EditorRequired]
    public string PostType { get; set; } = default!;

    [Parameter]
    public bool Disabled { get; set; }

    [Parameter]
    public string Placeholder { get; set; } = AppRes.PostCategory;

    [Parameter]
    public FluentInputAppearance Appearance { get; set; } = FluentInputAppearance.Outline;

    [Parameter]
    public string Width { get; set; } = "250px";

    [Parameter]
    public int IndentSize { get; set; } = 20;

    [Parameter]
    public EventCallback<Guid> ValueChanged { get; set; }

    [Parameter]
    public string Id { get; set; } = "SelectCategoryForFilterDropDown-" + Guid.NewGuid();

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public string? Style { get; set; }

    private PostCategoryListItemResponse? _selectedItem;
    private IReadOnlyCollection<PostCategoryListItemResponse> _lastRequestItems = [];

    protected override async Task OnParametersSetAsync()
    {
        if ((_selectedItem == null || _selectedItem.Id != Value) && Value != Guid.Empty)
        {
            // Console.WriteLine($">OnParametersSet:Value={Value}");
            await Load();
        }
        else if (Value == Guid.Empty)
        {
            _selectedItem = null;
            // Console.WriteLine(">OnParametersSet:Empty");
        }
    }

    async Task SelectedOptionChanged(PostCategoryListItemResponse? value)
    {
        // Console.WriteLine($"SelectedOptionChanged: value?.Id='{value?.Id}', Value='{Value}', _selId='{_selectedItem?.Id}'");
        _selectedItem = value;
        if (Value != value?.Id)
        {
            await ValueChanged.InvokeAsync(_selectedItem?.Id ?? Guid.Empty);
        }
    }

    private async Task Load()
    {
        if (Value == Guid.Empty) return;
        _selectedItem = (await client.PostCategory.ListByIds(new() { Ids = [Value] })).FirstOrDefault();
        StateHasChanged();
    }

    private async Task<IEnumerable<PostCategoryListItemResponse>> SearchCategoriesAsync(string searchText)
    {
        var request = await client.PostCategory.ListForPostType(
            PostType,
            new()
            {
                Search = searchText,
                Skip = 0,
                Take = 20
            });

        return _lastRequestItems = request.Items;
    }

    private async Task OnOptionsSearch(OptionsSearchEventArgs<PostCategoryListItemResponse> e)
    {
        e.Items = await SearchCategoriesAsync(e.Text);
    }

    private string GetOptionCssStyle(PostCategoryListItemResponse option)
    {
        var padding = (option.LevelsCount - 1) * IndentSize;
        var cssStyle = $"padding-left:{padding}px; display:flex; align-items:center;";
        return cssStyle;
    }
}
